* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 1250px;
}

.row {
  display: flex;
}

.relative {
  position: relative;
}

nav {
  border-bottom: 1px solid lightgrey;
}

.footer {
  padding-left: 50px;
}

.footer > a {
  padding: 0 20px;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 0 75px 0 75px;
}

.navheader {
  font-family: 'Tiempos Headline', sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
  color: darkblue;
  font-size: 3em;
  margin: 10px 0 10px 0;
  text-decoration: none;
  cursor: pointer;
}

.navlinks > a {
  color: grey;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  padding: 0 2em 0 2em;
}

.navlinks > a:hover {
  color: black;
  cursor: pointer;
}

.navlinks > button {
  background-color: rgb(29, 66, 146);
  color: white;
  padding: 10px;
  border-radius: 5%;
  border: 1px solid rgb(29, 66, 146);
}

.home {
  background-image: url(images/hero.jpg);
  background-size: cover;
  margin-top: 75px;
  margin-bottom: 75px;
}

.font {
  font-family: 'Tiempos Headline', sans-serif;
  font-weight: normal;
  margin-top: 0;
}

img {
  width: fit-content;
}

.home-text {
  padding: 50px 0 50px 0;
  width: 41%;
  position: relative;
  left: 75px;
  color: white;
}

.home-heading {
  font-weight: 300;
}

.home-content {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  font-weight: 100;
  color: rgb(235, 235, 235);
}

.home-button {
  background-color: rgb(29, 66, 146);
  color: white;
  margin-top: 10px;
  padding: 15px 50px;
  border-radius: 5%;
  border: 1px solid rgb(29, 66, 146);
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.content {
  margin: auto;
  text-align: center;
}

.col-half {
  width: 50%;
  position: relative;
}

.col-fourth {
  width: 25%;
}

.grey {
  color: grey;
}

.grey-bg {
  background-color: rgb(238, 238, 238);
  padding: 50px 0;
}

.darkgrey-bg {
  background-color: rgb(49, 49, 49);
  color: rgb(207, 207, 207);
  padding: 75px 50px;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.small-text {
  font-size: 0.8em;
}

.bottom-button {
  background-color: rgb(29, 66, 146);
  color: white;
  margin-top: 10px;
  padding: 15px 50px;
  border-radius: 5%;
  border: 1px solid rgb(29, 66, 146);
  position: absolute;
  right: 10px;
  top: 15px;
}

.pad {
  padding: 20px 0;
}

.line-height {
  line-height: 20px;
}
